/* Загальні стилі для тіла сторінки */
body {
  font-family: Roboto, sans-serif; /*Основний шрифт + альтернативний*/
  line-height: 1.5; /*Висота рядка*/
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}

/* Скидання стилів списків та посилань */
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* Виділення частини тексту в логотипі */
.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* Навігаційні посилання */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Контактні посилання */
.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Ховер-ефекти для посилань */
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
background-color: transparent;
}

/* Ховер-ефект для кнопки у головній секції */
.bt-title-main:hover,
.bt-title-main:focus {
background-color: #404bbf;
color:#ffffff
}

/* Головна секція */
.section-main {
  background-color: #2e2f42;
}

.title-main {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

/* Кнопка у головній секції */
.bt-title-main {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

/* Підзаголовки */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* Основний текст  */
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Заголовки секцій */
.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* Друга секція */
.section-second {
  background-color: #f4f4fd;
}

.section-second .subtitle,
.section-second .text {
text-align: center;
}

/* Елементи секцій */
.section-second-item,
.section-third-item {
  background-color: #ffffff;
}

/* Підвал сторінки */
.page-footer {
  background-color: #2e2f42;
}

/* Стилі тексту футера */
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}